USE [master]
GO
/****** Object:  Database [EduTestDB]    Script Date: 23.12.2025 11:05:50 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'EduTestDB')
BEGIN
CREATE DATABASE [EduTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduTestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EduTestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduTestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EduTestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EduTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EduTestDB]
GO
/****** Object:  Table [dbo].[assignment]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[assignment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[assignment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
 CONSTRAINT [PK_assignment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[class]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[class]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[letter] [nchar](1) NOT NULL,
 CONSTRAINT [PK_class] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[option]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[option]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[option](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[text] [nvarchar](max) NOT NULL,
	[is_correct] [bit] NOT NULL,
 CONSTRAINT [PK_option] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[option_matching]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[option_matching]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[option_matching](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[variant_text] [nvarchar](max) NOT NULL,
	[answer_text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_option_matching] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[question]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[question]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[text] [nvarchar](max) NOT NULL,
	[type_id] [int] NOT NULL,
	[marks] [float] NOT NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[question_type]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[question_type]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[question_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_question_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[student]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[student]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[patronymic_name] [nvarchar](100) NULL,
	[email] [nvarchar](255) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[class_id] [int] NOT NULL,
	[last_login] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[student_analysis]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[student_analysis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[scope] [nvarchar](20) NOT NULL,
	[class_id] [int] NULL,
	[generated_at] [datetime2](7) NOT NULL,
	[main_profile_text] [nvarchar](max) NULL,
	[career_text] [nvarchar](max) NULL,
	[weak_directions_text] [nvarchar](max) NULL,
	[worsening_subjects_text] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[student_analysis_direction]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis_direction]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[student_analysis_direction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[analysis_id] [int] NOT NULL,
	[direction_name] [nvarchar](100) NOT NULL,
	[avg_score] [decimal](4, 2) NOT NULL,
	[hist_level] [tinyint] NOT NULL,
	[forecast_score] [decimal](4, 2) NOT NULL,
	[forecast_level] [tinyint] NOT NULL,
	[tests_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[student_analysis_weak_topics]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis_weak_topics]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[student_analysis_weak_topics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[analysis_id] [int] NOT NULL,
	[direction_name] [nvarchar](100) NOT NULL,
	[subject_name] [nvarchar](200) NOT NULL,
	[topic_name] [nvarchar](max) NOT NULL,
	[topic_score] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[student_class_history]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[student_class_history]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[student_class_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
	[date_from] [date] NOT NULL,
	[date_to] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[student_open_question]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[student_open_question]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[student_open_question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_test_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[text] [nvarchar](max) NULL,
	[score] [float] NULL,
 CONSTRAINT [PK_student_open_question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[student_test]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[student_test]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[student_test](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[test_id] [int] NOT NULL,
	[score] [float] NULL,
	[date_time_taken] [datetime2](7) NULL,
	[state] [int] NOT NULL,
 CONSTRAINT [PK_student_test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[subject]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[subject]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[subject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[teacher]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[patronymic_name] [nvarchar](100) NULL,
	[email] [nvarchar](255) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[last_login] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_teacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[teacher_class]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[teacher_class]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[teacher_class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
 CONSTRAINT [PK_teacher_class] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[teacher_subjects]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[teacher_subjects]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[teacher_subjects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
 CONSTRAINT [PK_teacher_subjects] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[test]    Script Date: 23.12.2025 11:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[test]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[test](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[date_of_creating] [datetime2](7) NOT NULL,
	[subject_id] [int] NOT NULL,
	[max_score] [float] NOT NULL,
	[duration] [int] NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Index [IX_student_analysis_student]    Script Date: 23.12.2025 11:05:51 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis]') AND name = N'IX_student_analysis_student')
CREATE NONCLUSTERED INDEX [IX_student_analysis_student] ON [dbo].[student_analysis]
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_student_analysis_student_all]    Script Date: 23.12.2025 11:05:51 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis]') AND name = N'UX_student_analysis_student_all')
CREATE UNIQUE NONCLUSTERED INDEX [UX_student_analysis_student_all] ON [dbo].[student_analysis]
(
	[student_id] ASC
)
WHERE ([scope]=N'all')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_student_analysis_student_class_current]    Script Date: 23.12.2025 11:05:51 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis]') AND name = N'UX_student_analysis_student_class_current')
CREATE UNIQUE NONCLUSTERED INDEX [UX_student_analysis_student_class_current] ON [dbo].[student_analysis]
(
	[student_id] ASC,
	[class_id] ASC
)
WHERE ([scope]=N'current_class')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_student_analysis_direction_analysis]    Script Date: 23.12.2025 11:05:51 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis_direction]') AND name = N'IX_student_analysis_direction_analysis')
CREATE NONCLUSTERED INDEX [IX_student_analysis_direction_analysis] ON [dbo].[student_analysis_direction]
(
	[analysis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_student_analysis_direction_analysis_direction]    Script Date: 23.12.2025 11:05:51 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis_direction]') AND name = N'IX_student_analysis_direction_analysis_direction')
CREATE NONCLUSTERED INDEX [IX_student_analysis_direction_analysis_direction] ON [dbo].[student_analysis_direction]
(
	[analysis_id] ASC,
	[direction_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_student_analysis_weak_topics_analysis]    Script Date: 23.12.2025 11:05:51 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis_weak_topics]') AND name = N'IX_student_analysis_weak_topics_analysis')
CREATE NONCLUSTERED INDEX [IX_student_analysis_weak_topics_analysis] ON [dbo].[student_analysis_weak_topics]
(
	[analysis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_student_analysis_weak_topics_analysis_direction]    Script Date: 23.12.2025 11:05:51 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[student_analysis_weak_topics]') AND name = N'IX_student_analysis_weak_topics_analysis_direction')
CREATE NONCLUSTERED INDEX [IX_student_analysis_weak_topics_analysis_direction] ON [dbo].[student_analysis_weak_topics]
(
	[analysis_id] ASC,
	[direction_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_student_analysis_generated_at]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[student_analysis] ADD  CONSTRAINT [DF_student_analysis_generated_at]  DEFAULT (sysdatetime()) FOR [generated_at]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_assignment_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[assignment]'))
ALTER TABLE [dbo].[assignment]  WITH CHECK ADD  CONSTRAINT [FK_assignment_class] FOREIGN KEY([class_id])
REFERENCES [dbo].[class] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_assignment_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[assignment]'))
ALTER TABLE [dbo].[assignment] CHECK CONSTRAINT [FK_assignment_class]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_assignment_test]') AND parent_object_id = OBJECT_ID(N'[dbo].[assignment]'))
ALTER TABLE [dbo].[assignment]  WITH CHECK ADD  CONSTRAINT [FK_assignment_test] FOREIGN KEY([test_id])
REFERENCES [dbo].[test] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_assignment_test]') AND parent_object_id = OBJECT_ID(N'[dbo].[assignment]'))
ALTER TABLE [dbo].[assignment] CHECK CONSTRAINT [FK_assignment_test]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_option_question]') AND parent_object_id = OBJECT_ID(N'[dbo].[option]'))
ALTER TABLE [dbo].[option]  WITH CHECK ADD  CONSTRAINT [FK_option_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_option_question]') AND parent_object_id = OBJECT_ID(N'[dbo].[option]'))
ALTER TABLE [dbo].[option] CHECK CONSTRAINT [FK_option_question]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_option_matching_question]') AND parent_object_id = OBJECT_ID(N'[dbo].[option_matching]'))
ALTER TABLE [dbo].[option_matching]  WITH CHECK ADD  CONSTRAINT [FK_option_matching_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_option_matching_question]') AND parent_object_id = OBJECT_ID(N'[dbo].[option_matching]'))
ALTER TABLE [dbo].[option_matching] CHECK CONSTRAINT [FK_option_matching_question]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_question_question_type]') AND parent_object_id = OBJECT_ID(N'[dbo].[question]'))
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_question_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[question_type] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_question_question_type]') AND parent_object_id = OBJECT_ID(N'[dbo].[question]'))
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_question_type]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_question_test]') AND parent_object_id = OBJECT_ID(N'[dbo].[question]'))
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_test] FOREIGN KEY([test_id])
REFERENCES [dbo].[test] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_question_test]') AND parent_object_id = OBJECT_ID(N'[dbo].[question]'))
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_test]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[student]'))
ALTER TABLE [dbo].[student]  WITH CHECK ADD  CONSTRAINT [FK_student_class] FOREIGN KEY([class_id])
REFERENCES [dbo].[class] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[student]'))
ALTER TABLE [dbo].[student] CHECK CONSTRAINT [FK_student_class]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_analysis_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_analysis]'))
ALTER TABLE [dbo].[student_analysis]  WITH CHECK ADD  CONSTRAINT [FK_student_analysis_class] FOREIGN KEY([class_id])
REFERENCES [dbo].[class] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_analysis_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_analysis]'))
ALTER TABLE [dbo].[student_analysis] CHECK CONSTRAINT [FK_student_analysis_class]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_analysis_student]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_analysis]'))
ALTER TABLE [dbo].[student_analysis]  WITH CHECK ADD  CONSTRAINT [FK_student_analysis_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[student] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_analysis_student]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_analysis]'))
ALTER TABLE [dbo].[student_analysis] CHECK CONSTRAINT [FK_student_analysis_student]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_direction_analysis]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_analysis_direction]'))
ALTER TABLE [dbo].[student_analysis_direction]  WITH CHECK ADD  CONSTRAINT [FK_direction_analysis] FOREIGN KEY([analysis_id])
REFERENCES [dbo].[student_analysis] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_direction_analysis]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_analysis_direction]'))
ALTER TABLE [dbo].[student_analysis_direction] CHECK CONSTRAINT [FK_direction_analysis]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_weak_topic_analysis]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_analysis_weak_topics]'))
ALTER TABLE [dbo].[student_analysis_weak_topics]  WITH CHECK ADD  CONSTRAINT [FK_weak_topic_analysis] FOREIGN KEY([analysis_id])
REFERENCES [dbo].[student_analysis] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_weak_topic_analysis]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_analysis_weak_topics]'))
ALTER TABLE [dbo].[student_analysis_weak_topics] CHECK CONSTRAINT [FK_weak_topic_analysis]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_class_history_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_class_history]'))
ALTER TABLE [dbo].[student_class_history]  WITH CHECK ADD  CONSTRAINT [FK_student_class_history_class] FOREIGN KEY([class_id])
REFERENCES [dbo].[class] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_class_history_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_class_history]'))
ALTER TABLE [dbo].[student_class_history] CHECK CONSTRAINT [FK_student_class_history_class]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_class_history_student]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_class_history]'))
ALTER TABLE [dbo].[student_class_history]  WITH CHECK ADD  CONSTRAINT [FK_student_class_history_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[student] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_class_history_student]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_class_history]'))
ALTER TABLE [dbo].[student_class_history] CHECK CONSTRAINT [FK_student_class_history_student]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_open_question_question]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_open_question]'))
ALTER TABLE [dbo].[student_open_question]  WITH CHECK ADD  CONSTRAINT [FK_student_open_question_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_open_question_question]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_open_question]'))
ALTER TABLE [dbo].[student_open_question] CHECK CONSTRAINT [FK_student_open_question_question]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_open_question_student_test]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_open_question]'))
ALTER TABLE [dbo].[student_open_question]  WITH CHECK ADD  CONSTRAINT [FK_student_open_question_student_test] FOREIGN KEY([student_test_id])
REFERENCES [dbo].[student_test] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_open_question_student_test]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_open_question]'))
ALTER TABLE [dbo].[student_open_question] CHECK CONSTRAINT [FK_student_open_question_student_test]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_test_student]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_test]'))
ALTER TABLE [dbo].[student_test]  WITH CHECK ADD  CONSTRAINT [FK_student_test_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[student] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_test_student]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_test]'))
ALTER TABLE [dbo].[student_test] CHECK CONSTRAINT [FK_student_test_student]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_test_test]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_test]'))
ALTER TABLE [dbo].[student_test]  WITH CHECK ADD  CONSTRAINT [FK_student_test_test] FOREIGN KEY([test_id])
REFERENCES [dbo].[test] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_student_test_test]') AND parent_object_id = OBJECT_ID(N'[dbo].[student_test]'))
ALTER TABLE [dbo].[student_test] CHECK CONSTRAINT [FK_student_test_test]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_teacher_class_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[teacher_class]'))
ALTER TABLE [dbo].[teacher_class]  WITH CHECK ADD  CONSTRAINT [FK_teacher_class_class] FOREIGN KEY([class_id])
REFERENCES [dbo].[class] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_teacher_class_class]') AND parent_object_id = OBJECT_ID(N'[dbo].[teacher_class]'))
ALTER TABLE [dbo].[teacher_class] CHECK CONSTRAINT [FK_teacher_class_class]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_teacher_class_teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[teacher_class]'))
ALTER TABLE [dbo].[teacher_class]  WITH CHECK ADD  CONSTRAINT [FK_teacher_class_teacher] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[teacher] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_teacher_class_teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[teacher_class]'))
ALTER TABLE [dbo].[teacher_class] CHECK CONSTRAINT [FK_teacher_class_teacher]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_teacher_subjects_subject]') AND parent_object_id = OBJECT_ID(N'[dbo].[teacher_subjects]'))
ALTER TABLE [dbo].[teacher_subjects]  WITH CHECK ADD  CONSTRAINT [FK_teacher_subjects_subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[subject] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_teacher_subjects_subject]') AND parent_object_id = OBJECT_ID(N'[dbo].[teacher_subjects]'))
ALTER TABLE [dbo].[teacher_subjects] CHECK CONSTRAINT [FK_teacher_subjects_subject]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_teacher_subjects_teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[teacher_subjects]'))
ALTER TABLE [dbo].[teacher_subjects]  WITH CHECK ADD  CONSTRAINT [FK_teacher_subjects_teacher] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[teacher] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_teacher_subjects_teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[teacher_subjects]'))
ALTER TABLE [dbo].[teacher_subjects] CHECK CONSTRAINT [FK_teacher_subjects_teacher]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_test_subject]') AND parent_object_id = OBJECT_ID(N'[dbo].[test]'))
ALTER TABLE [dbo].[test]  WITH CHECK ADD  CONSTRAINT [FK_test_subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[subject] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_test_subject]') AND parent_object_id = OBJECT_ID(N'[dbo].[test]'))
ALTER TABLE [dbo].[test] CHECK CONSTRAINT [FK_test_subject]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_test_teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[test]'))
ALTER TABLE [dbo].[test]  WITH CHECK ADD  CONSTRAINT [FK_test_teacher] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[teacher] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_test_teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[test]'))
ALTER TABLE [dbo].[test] CHECK CONSTRAINT [FK_test_teacher]
GO
USE [master]
GO
